@page "/fetchdata"
@inject HttpClient Http
@using UserManagement.Common.Dtos

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Patronymic</th>
                <th>ADLogin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Surname</td>
                    <td>@forecast.Patronymic</td>
                    <td>@forecast.ADLogin</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<UserDto> forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<IEnumerable<UserDto>>("api/users");
    }
}
